// Colors
$primary-color: #72035D;
$background-color: #F5F3F3;
$text-color: black;

// Spacing
$padding: 24px;
$column-gap: 24px;

// Font Sizes
$font-size-label: 14px;
$font-size-input: 16px;

// Line Heights
$line-height-h1: 1.2;
$line-height-h2: 1.2;