@import '@fontsource/open-sauce-one/800.css';
@import '@fontsource/open-sauce-one/400.css';
@import '././app/styles/variables';
@import '././app/styles/mixins';
/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background-color: $background-color;
  font-family: 'Open Sauce One', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
