
main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Open Sauce One', sans-serif;

  h1 {
    font-size: 67px;
    line-height: 90.45px;
    color: #72035D;
    font-weight: 800;
  }

  h2 {
    font-size: 74px;
    line-height: 111px;
    font-weight: 400;
  }
}
