@import '@fontsource/open-sauce-one/800.css';
@import '@fontsource/open-sauce-one/400.css';
@import '././app/styles/variables';
@import '././app/styles/mixins';
/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  height: 100vh;
  background-color: $background-color;
  font-family: 'Open Sauce One', sans-serif;
  white-space: nowrap;
}


/* Global class to use where autoresize function is used */
.resize-container {
  width: 100%;
  @include flex-center;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;

  .resize-inner {
      width: 100%;
      @include responsive-padding($padding);
  
  }

}

*,
*::before,
*::after {
  box-sizing: border-box;
}
